server:
  port: 18834
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
    #instance-id: eureka-client
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
     defaultZone: http://localhost:8761/eureka/
spring:
  application:
    name: eureka-client
  profiles: 8761
  sleuth:
#    web:
#      client:
#        enabled: true
    sampler:
      probability: 1.0 # 将采样比例设置为 1.0，也就是全部都需要。默认是 0.1
  zipkin:
    base-url: http://192.168.100.35:9411/ # 指定了 Zipkin 服务器的地址

---
server:
  port: 18836
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
    #instance-id: eureka-client
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:28834/eureka/
spring:
  application:
    name: eureka-client
  profiles: 28834
  sleuth:
    #    web:
    #      client:
    #        enabled: true
    sampler:
      probability: 1.0 # 将采样比例设置为 1.0，也就是全部都需要。默认是 0.1
  zipkin:
    base-url: http://192.168.100.35:9411 # 指定了 Zipkin 服务器的地址